<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h3>welcome to node</h3>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat expedita voluptatum necessitatibus consectetur officiis aliquam, soluta delectus unde. Soluta assumenda quae sunt minima maiores iste, accusantium obcaecati porro voluptatem quasi!</p>
</body>
<script src="scripts/script.js"></script>
</html>